@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.heading-text {
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: 700;
  line-height: 1.2;
}

.sub-heading-text {
  font-size: clamp(1.25rem, 1.5vw, 2rem);
  font-weight: 700;
  line-height: 1.2;
}

.paragraph-text {
  @apply text-slate-400;
  font-size: clamp(15px, 1.5vw, 1.125rem);
  line-height: 1.5;
}
